@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: hsl(225, 100%, 94%);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    font-size: 16px;
    font-family: "Red Hat Display", sans-serif;
    justify-content: center;
  }

  @media (min-width: 720px) {
    body {
      background-image: url("../assets/images/pattern-background-desktop.svg");
    }
  }
  @media (min-width: 375px) {
    body {
      background-image: url("../assets/images/pattern-background-mobile.svg");
    }
  }
}
